<h1>Terms of Service</h1>
<p class="lead">
<p>Thank you for using our products! I built them to help you do your best work. Because we don't know every one of our customers personally, we have to put in place some Terms of Service to help keep the ship afloat.</p>

<p>When we say “Company”, “we”, “our”, or “us” in this document, we are referring to Specform. <p>

<p>When we say “Services”, we mean any product created and maintained by Specform.<p>

<p>We may update these Terms of Service in the future. Whenever we make a significant change to our policies, we will also announce them on our announcements page.<p>

<p>When you use our Services, now or in the future, you are agreeing to the latest Terms of Service. That's true for any of our existing and future products and all features that we add to our Services over time. There may be times
where we do not exercise or enforce any right or provision of the Terms of Service; in doing so, we are not waiving that right or provision. <b>**These terms do contain a limitation of our liability.**</b><p>

<p>If you violate of any of the terms, we may terminate your account. That's a broad statement and it means you need to place a lot of trust in us. We do our best to deserve that trust by being open about who we are, how we work, and keeping an open door to your feedback.<p>

<h2>Account Terms</h2>
<ol>
<li>You are responsible for maintaining the security of your account and password. The Company cannot and will not be liable for any loss or damage from your failure to comply with this security obligation. </li>
<li>You may not use the Services for any nefarious purposes.</li>
<li>You are responsible for all content posted and activity that occurs under your account. That includes content posted by others who either: (a) have access to your login credentials; or (b) have their own logins under your account.</li>
<li>You must be a human. Accounts registered by “bots” or other automated methods are not permitted.</li>
</ol>
<h2>Payment, Refunds, and Plan Changes

1. If you are using a free version of one of our Services, it is really free: we do not ask you for your credit card and — just like for customers who pay for our Services — we do not sell your data.

<h2>Cancellation and Termination</h2>
<ol>
<li>You are solely responsible for properly canceling your account. Within the service, we provide a simple no-questions-asked cancellation link. You can find this on your user profile page.</li>
<li>All of your content will be inaccessible from the Services immediately upon cancellation. Within 30 days, all content will be permanently deleted from active systems and logs. Within 60 days, all content will be
permanently deleted from our backups. We cannot recover this information once it has been permanently deleted.</li>
<li>We have the right to suspend or terminate your account and refuse any and all current or future use of our Services for any reason at any time. Suspension means you and any other users on your account will not be
able to access the account or any content in the account. Termination will furthermore result in the deletion of your account or your access to your account, and the forfeiture and relinquishment of all content in your
account. We also reserve the right to refuse the use of the Services to anyone for any reason at any time. We have this clause because statistically speaking, out of the hundreds of thousands of accounts on our Services,
there is at least one doing something nefarious. </li>
<li>Verbal, physical, written or other abuse (including threats of abuse or retribution) of Company employee or officer will result in immediate account termination.</li>
</ol>
<h2>Uptime, Security, and Privacy</h2>
<ol>
<li>Your use of the Services is at your sole risk. We provide these Services on an “as is” and “as available” basis. We do not offer service-level agreements for our service.</li>
<li>We reserve the right to temporarily disable your account if your usage significantly exceeds the average usage of other customers of the Services. Of course, we'll reach out to the account owner before taking any
action except in rare cases where the level of use may negatively impact the performance of the Service for other customers.</li>
<li>We use third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Services.</li>
<li>Under the California Consumer Privacy Act (“CCPA”), Specform is a “service provider”, not a “business” or “third party”, with respect to your use of the Services. That means we process any data you share with us
only for the purpose you signed up for and as described in these Terms of Service and [Privacy policy](../privacy/index.md), and [other policies](../index.md). We do not retain, use, disclose, or sell any of that
information for any other commercial purposes unless we have your explicit permission. And on the flip-side, you agree to comply with your requirements under the CCPA and not use Specform’s Services in a way that violates the regulations.</li>
</ol>
<h2>Copyright and Content Ownership</h2>
<ol>
<li>All content posted on the Services must comply with U.S. copyright law. </li>
<li>We claim no intellectual property rights over the material you provide to the Services. All materials uploaded remain yours.</li>
<li>We do not pre-screen content, but reserve the right (but not the obligation) in our sole discretion to refuse or remove any content that is available via the Service.</li>
<li>The names, look, and feel of the Services are copyright© to the Company. All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML, CSS, JavaScript, or visual design elements without express written permission from the Company.</li>
<li>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Services, use of the Services, or access to the Services without the express written permission by the Company.</li>
<li>You must not modify another website so as to falsely imply that it is associated with the Services or the Company.</li>
</ol>
<h2>Features and Bugs</h2>

<p>We design our Services with care, based on our own experience and the experiences of customers who share their time and feedback. However, there is no such thing as a service that pleases everybody. We make no guarantees that our Services will meet your specific requirements or expectations.


<p>We also test all of our features extensively before shipping them. As with any software, our Services inevitably have some bugs. We track the bugs reported to us and work through priority ones,
especially any related to security or privacy. Not all reported bugs will get fixed and we don't guarantee completely error-free Services.
<h2>
  Liability
</h2> 
<p>  
  We mention liability throughout these Terms but to put it all in one section:
</p>
<p> 
  <b>
  ***You expressly understand and agree that the Company shall not be liable, in law or in equity, to you or to any third party for any direct, indirect, incidental, lost profits, special, consequential,
  punitive or exemplary damages, including, but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if the Company has been advised of the possibility of such damages),
  resulting from: (i) the use or the inability to use the Services; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages
  received or transactions entered into through or from the Services; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other
  matter relating to this Terms of Service or the Services, whether as a breach of contract, tort (including negligence whether active or passive), or any other theory of liability.***
  </b>
</p>

<p>  
  In other words: choosing to use our Services does mean you are making a bet on us. If the bet does not work out, that's on you, not us. We do our darnedest to be as safe a bet as possible through careful management of the
  business; investments in security, infrastructure, and talent; and in general [giving a damn](https://specform.com/about). If you choose to use our Services, thank you for betting on us.
</p>
<p>
  Adapted from the Basecamp open-source policies / CC BY 4.0
</p>